header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 11px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info button {
    margin-left: 20px;
    background-color: #0066cc;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  