<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Nuestra Historia</h2>
      <p>
        El taller de mecánica automotriz Antonio Piedrahita nace en el 2003 en Medellín Antioquia de la mano de Antonio María Piedrahita, mecánico automotriz de profesión, como un sueño de independencia. Con más de 15 años de experiencia en ese momento en el campo mencionado, tuvo la oportunidad de invertir un dinero y qué mejor forma de hacerlo que en un sueño que siempre tuvo: tener su propio taller en el cual pudiese brindar un servicio justo y de calidad. 
      </p>
      <p>
        Esta microempresa familiar que hoy lleva 20 años y es generadora de 6 empleos directos y 3 indirectos, es reconocida en varios sectores de los talleres de mecánica de la ciudad.
      </p>
      <p>
        Constituida como empresa natural en régimen simplificado hace 4 años, pasó a ser administrada por el hijo del fundador, Brayan Piedrahita, y desde ese momento ha venido en constante crecimiento con inversiones en equipos necesarios.
      </p>
      <p>
        Esta microempresa está dedicada al servicio de reparación y mantenimiento automotriz, especializándose en automóviles de inyección electrónica, aunque también son expertos en automóviles de modelos anteriores que funcionaban con carburador. En su catálogo de servicios ofrecen escaneo, lavado de inyectores, servicio eléctrico, alineación y balanceo, reparación de motores, entre otros.
      </p>
      
     <button type="button" class="btn btn-primary" (click)="goToHome()">Regresar</button>
      
    </div>    
  </div>  
</div>
