<aside>
    <ul>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>
      <li><a routerLink="/contactanos">Contactanos</a></li>
      <li><a routerLink="/configuracion">Configuracion</a></li>
    </ul>
  </aside>

  <!-- Esto servira mas adelante -->
  <!-- <aside>
    <ul>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/inventario">Nosotros</a></li>
      <li><a routerLink="/facturacion">Contactanos</a></li>
      <li><a routerLink="/reportes">Configuracion</a></li>
    </ul>
  </aside> -->
  