header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 11px;
  }

  span {
    margin-right: 20px;
    font-size: larger;
    font-weight: bold;
  }