/* empleados.component.css */
.table-responsive {
  overflow-x: auto; /* Añade una barra de desplazamiento horizontal si es necesario */
}

.card {
  border-radius: 8px;
}

.card-header {
  border-bottom: 2px solid #007bff;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table th, .table td {
  vertical-align: middle;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}
