<!-- login.component.html -->
<form (ngSubmit)="onLogin()">
  <div class="mb-3">
    <label for="nombre_de_usuario" class="form-label">Nombre de Usuario</label>
    <input type="text" id="nombre_de_usuario" class="form-control" name="nombre_de_usuario" [(ngModel)]="username" placeholder="Ingrese el nombre de usuario" required>
  </div>
  <div class="mb-3">
    <label for="contraseña" class="form-label">Contraseña</label>
    <input type="password" id="contraseña" class="form-control" name="contraseña" [(ngModel)]="password" placeholder="Ingrese la contraseña" required>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>


